.By__category{
    width: 1336px;
    height: 456px;
    margin: 0 auto;
    .By__category__info{
        width: 1336px;
        height: 456px;
        padding: 16px 0px 40px 0px;
        .By__category__info__up{
            width: 222px;
            height: 44px;
            margin-bottom: 20px;
            text-align: center;
            margin-right: 550px;
            h3{
                font-weight: 600;
                margin-top: 10px;
            }
        }
        .By__category__info__down{
            width: 1175px;
            height: 320px;
            .By__category__info__down__first__line{
                width: 1175px;
                height: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 65px;
                .By__category__info__down__first__line__each__part{
                    width: 140px;
                    height: 160px;
                    padding: 0 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: black;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                        p{
                            font-size: 12px;
                            font-weight: 500;
                            text-align: center;
                            margin-top: 8px;
                        }
                    }
                }
            }
            .By__category__info__down__second__line{
                width: 1175px;
                height: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 65px;
                .By__category__info__down__first__line__each__part{
                    width: 140px;
                    height: 160px;
                    padding: 0 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: black;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                        p{
                            font-size: 12px;
                            font-weight: 500;
                            text-align: center;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}